

body {
    background-color: #eec1c1;
    color: black;
    margin: 0% 5%;
}

img {
  border-radius: 2rem;
}

header {
    padding-left: 100px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.search-bar {
    
}

