

body {
    background-color: #1e1e1e;
    color: #eeeeee;
}

img {
  border-radius: 2rem;
}

header {
    padding-left: 100px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.search-bar {
    
}

.favouriteblocks {
  display: inline-block
}
