.accordion {
    list-style: none;
    margin: 0px;
}

.button {
    background-color: #4e4e4e;
    color: #eeeeee;
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    cursor: pointer;
    border: none;
}

.accordion-wrapper {
    height: 0;
    overflow: hidden;
    transition: ease 0.2s;
}

.accordion-wrapper-open {
    height: 200px;
    transition: ease 0.3s;
}

.accordion-form {
    background-color: #2e2e2e;
    padding: 20px;
}

.accordion-open .button {
    background-color: #6e6e6e;
}

.filter-option-form {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    gap: 100px;
    margin: none;
    font-size: 20px;
  }
  
  .filter-submit-button {
    display: flex;
    /* justify-content: baseline; */
    background-color: pink;
    height: fit-content;
    font-size: medium;
    border-radius: 0.5rem;
    padding: 10px;
  }

.filter-select {
    width: 150px
}