.accordion-container {
    display: flex;
}

.accordion {
    margin: auto;
    flex-grow: 1;

}

.accordion .button {
    color: #074323;
    background-color: #EEEEEE;
    font-size: 20px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    padding-left: 20px;
    cursor: pointer; 
    border: none;
    transition: .2s;
}

/* .accordion .button {
    margin-left: 40px;
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
    width: 30%;
    align-items: center;
    cursor: pointer;
    border: none;
} */

.control {
    font-size: 30px;
} 

.accordion .button {
    box-shadow: -4px 4px 5px rgba(0, 0, 0, 0.625) inset;
}

.accordion-open .button {
    color: white;
    background-color: rgb(43, 136, 88);
    font-size: 20px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    padding-left: 20px;
    cursor: pointer;
    border: none;
    transition: .2s;
    flex-grow: 1;
}

.accordion-wrapper {
    height: 0;
    overflow: hidden;
    transition: ease .8s;
    
}
.accordion-wrapper-open {
    padding-bottom: 20px;
}

.accordion-form {
    width: 100%;
    background-color: #EEEEEE;
    padding: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.filter-option-form {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    gap: 100px;
    font-size: 20px;
    flex-grow: 1;

}

.filter-select {
    width: 200px;
}

.filter-select input {
    height: 18px;
    width: 18px;
    background-color: #eee;
    margin-right: 15px;
}

.filter-submit-button {
    display: flex;
    justify-content: center;
    background-color: rgb(7, 67, 35);
    color: white;
    height: fit-content;
    font-size: 20px;
    border-radius: 2rem;
    padding-top: 15px;
    padding-bottom: 15px;
    cursor: pointer;
    border: 1px solid grey;
    width: 150px;
    margin-right: 500px;
    float: right;
}

.filter-submit-button:hover {
    background-color: #EBF8DF; 
    color: #03917C;
    cursor: pointer;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 10px 0 rgba(0,0,0,0.19);
    border-radius: 2rem;
    border-width: 2px;
    border-color: black;
}



