.accordion {
    list-style: none;
    margin: 0px;
}

.accordion .button {
    color: #074323;
    background-color: #EBF8DF;
    font-size: 18px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    padding-left: 20px;
    cursor: pointer;
    border: none;
}

.control {
    font-size: 30px;
}

.accordion-open .button {
    color: #074323;
    background-color: #03917C;
    font-size: 18px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    padding-left: 20px;
    cursor: pointer;
    border: none;
}

.accordion-wrapper {
    height: 0;
    overflow: hidden;
    transition: ease 0.2s;
    padding-bottom: 30px;
}

.accordion-wrapper-open {
    transition: ease 0.3s;
}

.accordion-form {
    background-color: #EBF8DF;
    padding: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.filter-option-form {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    gap: 100px;
    font-size: 20px;
}

.filter-select {
    width: 200px;
}

.filter-select input {
    height: 18px;
    width: 18px;
    background-color: #eee;
    margin-right: 15px;
}

.filter-submit-button {
    display: flex;
    justify-content: center;
    background-color: rgb(7, 67, 35);
    color: white;
    height: fit-content;
    font-size: 20px;
    border-radius: 2rem;
    padding-top: 15px;
    padding-bottom: 15px;
    cursor: pointer;
    border: 1px solid grey;
    width: 150px;
    margin-right: 500px;
    float: right;
}

.filter-submit-button:hover {
    background-color: #EBF8DF; 
    color: #03917C;
    cursor: pointer;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 10px 0 rgba(0,0,0,0.19);
    border-radius: 2rem;
    border-width: 2px;
    border-color: black;
}



