body {
  background-color: #EBF8DF;
  color: rgb(7, 67, 35);
  margin: auto;
}

header {
  color: white;
  padding-left: 100px;
  background-color: rgb(7, 67, 35);
  margin: auto;
}

header h1 {
  font-family: 'Cedarville Cursive', cursive;
  font-size: 95px;
  margin: auto;
  padding-top: 30px;
  position: absolute;
} 

header ul {
 font-family: 'Playpen Sans', cursive;    /* not sure on font here */
  font-weight: bold;
  letter-spacing: 2px;
  list-style-type: none;
  padding-right: 140px;
  display: flex;
  justify-content: flex-end;
  flex-flow: row wrap;
  gap: 100px;
  margin: auto;
  padding-top: 115px;
  padding-bottom: 40px;
}

header a {
  color: white;
}

a:hover {
  color: #EBF8DF;
}

a:link{
  text-decoration: none;
  font-size: 25px;
}

.search-bar {
  display: flex;
  justify-content: center;
  height: 50px;
  padding-top: 60px;
  padding-bottom: 60px;
}

.search-bar input {
  height: 100%;
  font-size: 28px; 
  border: 1px solid grey;
  float: left;
  border-radius: 1rem;
  color: rgb(7, 67, 35);
}

.search-bar button {
  height: 100%;
  font-size: 25px;
  margin-left: 10px;
  background-color: rgb(7, 67, 35);
  width: 50px;
  color: white;
  border-radius: 1rem;
}

.search-bar button:hover {
  background-color: #EBF8DF; 
  color: #03917C;
  cursor: pointer;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

/* filter form */



/* recipe container  */

