.search-bar {
  height: 50px;
  width: 50%;
  margin-right: 25px;
  margin-bottom: 5px;
}

.search-bar form {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.search-bar input {
  height: 100%;
  font-size: 28px; 
  width: 97%;
  padding-left: 10px;
  border: 1px transparent;
  border-radius: 10px;
  color: rgb(7, 67, 35);
}

.search-bar button {
  height: 100%;
  width: 20%;
  font-size: 25px;
  margin-left: 10px;
  background-color: rgb(7, 67, 35);
  width: 50px;
  color: white;
  border-radius: 1rem;
}

.search-bar button:hover {
  background-color: #EBF8DF; 
  color: #03917C;
  cursor: pointer;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}


/* search results */

.search-results {
  display: inline-block;
  padding: 20px;
  vertical-align: top;
  align-items: center;
  text-align: center;
  margin-left: 2.5%;
}

.search-results:last-child {
  margin-right: 0; 
}

.search-results-title {
  font-size: 25px;
  margin: 0 auto;
  margin-top:10px;
  height: 60px;
  text-align: center;
  font-family: 'Abel', sans-serif;
  font-weight: 50;
  width: 350px;
  color: #03917C;
}

.search-results-title:hover {
  color:rgb(7, 67, 35);
}

.search-results img {
  min-width: 300px;
  max-width: 350px;
}
  /* border-radius: 2rem;
  width: 20%;
  height: auto;
  max-width: 100%;
  border: 1px solid #ccc; */
/* } */

.search-results img:hover {
  opacity: 0.7;
  cursor: pointer;
  /* box-shadow: 0 6px 8px 0 rgba(0,0,0,0.24), 0 7px 25px 0 rgba(0,0,0,0.19); */
}

.search-results-header {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin: 0px;
  padding-left: 70px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: rgb(7, 67, 35);
  color: white;
  letter-spacing: 1px;
}